* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background: url('../images/nav-bg-.jpg');
  background-size: cover;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: blue;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  /* padding-left: 100px;
  padding-right: 100px; */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: x-large;
}

.header-content {
  /* text-align: center; */
  padding: 30px;
  height: 400px;
  line-height: 50px;
  /* align-items: center; */
  margin-left: 60px;
}

.header-content h2 {
  /* margin: 20px; */
  font-size: 30px;
}

.header-content button {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.abt-specials {
  background-color: oldlace;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 8px;
  padding: 50px;
}

.div1 {
  /* grid-column: span 4 / span 4; */
  text-align: center;
  /* margin: 10px; */
}

.div2 {
  /* grid-row-start: 2; */
  /* height: 300px; */
  object-fit: cover;
}

.div3 {
  /* grid-row-start: 2; */
  /* height: 300px; */
  object-fit: cover;
}

.div4 {
  /* grid-row-start: 2; */
  /* height: 300px; */
  object-fit: cover;
}

.div5 {
  /* grid-row-start: 2; */
  /* height: 300px; */
  object-fit: cover;
}

/* .div6 {
  grid-column: span 4 / span 4;
  grid-row-start: 3;
  text-align: center;
  margin-top: 50px;
}

.div7 {
  grid-row-start: 4;
  height: 300px;
  object-fit: cover;
}

.div8 {
  grid-row-start: 4;
  height: 300px;
  object-fit: cover;
}

.div9 {
  grid-row-start: 4;
  height: 300px;
  object-fit: cover;
}

.div10 {
  grid-row-start: 4;
  height: 300px;
  object-fit: cover;
}
 */
.about {
  /* padding: 50px;
  text-align: center; */
  background: url("/images/bg.jpeg");
}

@media (max-width: 760px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
  
  nav a{
    display: none;
  }

}