* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: none;
}

header {
  background: url('../images/nav-bg-.jpg');
  background-size: cover;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: brown;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: x-large;
}

.header-content {
  padding: 30px;
  height: 400px;
  line-height: 50px;
  margin-left: 60px;
}

.header-content h2 {
  font-size: 30px;
}

.header-content button {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-right: 36px;
  padding-left: 49px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto 0;
}

.div1 {
  text-align: center;
  padding-top: 20px;
  margin: 10px;
}

.div2 {
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 15px;
  background-color: antiquewhite;
}

.div2 h2 {
  color: rgb(73, 15, 15);
  font-style: bold;
}

.text {
  padding: 5px 5px;
}

.con-br button {
  background-color: rgb(73, 15, 15);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.for-img {
  height: 250px;
  object-fit: cover;
}

img {
  border-radius: 15px;
}


.div3 {
  text-align: center;
  margin-top: 10px;
}


.container-1 {
  height: 300px;
}

.con-br {
  display: flex;
  justify-content: space-between;
}

.about {
  background: url("/images/bg.jpeg");
  height: 600px;
}

.abt {
  text-align: center;
  padding-top: 280px;
  color: rgb(73, 15, 15);
}

.abt button {
  color: white;
  background-color: rgb(73, 15, 15);
  padding: 15px;
  border-radius: 25px;
}

.heading-r {
  text-align: center;
}
.cards{
  width: 500px;
}
.top-1 {
  display: flex;
  /* justify-content:; */
}

.pro-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 760px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  nav a {
    display: none;
  }

}

@media (max-width: 480px) {
  .parent {
    grid-template-columns: 1fr;
    padding-left: 36px;
    padding-right: 42px;
  }
}